---
layout: archive
title: "Publications &#128221;"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank" rel="noopener noreferrer" >my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L. Physics-informed deep learning-based inversion for airborne electromagnetic data. Geophysical Journal International, 238, 1774-1789. [<a href="https://doi.org/10.1093/gji/ggae244" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Fast Bayesian inversion of airborne electromagnetic data based on the invertible neural network. IEEE Transactions on Geoscience and Remote Sensing, 61, 5907211. [<a href="https://doi.org/10.1109/TGRS.2023.3264777" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. A deep learning-based network for the simulation of airborne electromagnetic responses. Geophysical Journal International, 233, 253-263. [<a href="https://doi.org/10.1093/gji/ggac463" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2022. Instantaneous inversion of airborne electromagnetic data based on deep learning. Geophysical Research Letters, 49(10), e2021GL097165. [<a href="https://doi.org/10.1029/2021GL097165" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. Convolutional neural network inversion of airborne electromagnetic data. Geophysical Prospecting, 69(8-9), 1761-1772. [<a href="https://doi.org/10.1111/1365-2478.13136" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. De-noising of transient electromagnetic data based on the long short-term memory-autoencoder. Geophysical Journal International, 224(1), 669-681. [<a href="https://doi.org/10.1093/gji/ggaa424" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Xue, J., Huang, Q., <strong>Wu, S.</strong>, Zhao, L. & Ma, B., 2024. Real-time dual-parameter full-waveform inversion of GPR data based on robust deep learning. Geophysical Journal International, 238, 1755-1771. [<a href="https://doi.org/10.1093/gji/ggae243" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Xue, J., Huang, Q., <strong>Wu, S.</strong> & Zhao, L., 2024. Detection of ULF geomagnetic anomalies prior to the Tohoku-Oki Earthquake by the multi-reference station method. IEEE Transactions on Geoscience and Remote Sensing, 62, 5910009. [<a href="https://doi.org/10.1109/TGRS.2024.3382472" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Xue, J., <strong>Wu, S.</strong>, Huang, Q., Zhao, L., Sarlis, N. V. & Varotsos, P. A., 2023. RASE: A real-time automatic search engine for anomalous seismic electric signals in geoelectric data. IEEE Transactions on Geoscience and Remote Sensing, 61, 5905911. [<a href="https://doi.org/10.1109/TGRS.2023.3260202" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Xue, J., Huang, Q., <strong>Wu, S.</strong> & Nagao, T., 2022. LSTM-autoencoder network for the detection of seismic electric signals. IEEE Transactions on Geoscience and Remote Sensing, 60, 5917012. [<a href="https://doi.org/10.1109/TGRS.2022.3183389" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Wang, K., Huang, Q. & <strong>Wu, S.</strong>, 2020. Application of long short-term memory neural network in geoelectric field data processing. Chinese Journal of Geophysics (in Chinese), 63(8), 3015-3024. [<a href="https://doi.org/10.6038/cjg2020O0119" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>

<h2>Conference Papers</h2>
<ol reversed>
<li><strong>Wu, S.</strong>, Thoram, S., Sun, J., Sager, W. W. & Chen, J., 2024. Transforming the interpretation of marine magnetic anomalies through a machine learning-based framework. In AGU (American Geophysical Union) Annual Meeting Abstracts.</li>
<li><strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Fast model uncertainty evaluation of airborne frequency-domain electromagnetic data inversion based on deep learning. In AGU Annual Meeting Abstracts.</li>
<li>Su, Y., <strong>Wu, S.</strong>, Chen, J., Sun, J. & Lu, L., 2024. Identifying natural hydrogen reservoirs through integrated 3D aeromagnetic and gravity data inversion in Bartlett Springs fault zone in north California. In AGU Annual Meeting Abstracts.</li>
<li>Sun, J., <strong>Wu, S.</strong>, Chen, J. & Yin, Z., 2024. Bayesian inference of airborne electromagnetic data based on normalizing flows. In AGU Annual Meeting Abstracts.</li>
<li>Huang, Q., Xue, J. & <strong>Wu, S.</strong>, 2024. Data science and machine learning in geo-electromagnetics. In EM Induction Workshop Abstracts.</li>
<li><strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Stochastic inversion of frequency-domain airborne electromagnetic data based on deep learning. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li>Kalu, D. V., <strong>Wu, S.</strong> & Sun, J., 2024. Empowering mineral exploration: Leveraging invertible neural networks for magnetotelluric data inversion and uncertainty quantification. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li>Bittar, G., Su, Y., <strong>Wu, S.</strong>, Sun, J., Wu, X., Huang, Y. & Chen, J., 2024. Fast inversion and uncertainty quantification of electromagnetic well logging data using invertible neural network. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li><strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Airborne electromagnetic data interpretation with deep learning-based stochastic inversion and posterior distribution clustering with application to salinization detection. In International Workshop on Gravity, Electrical & Magnetic Methods and Their Applications (GEM) Abstracts.</li>
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Simultaneous resistivity imaging of airborne electromagnetic data based on deep learning. In JpGU (Japan Geoscience Union) Geoscience Union Meeting Abstracts.</li>
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Near real-time subsurface structure imaging using airborne electromagnetic data based on deep learning. In EGU (European Geosciences Union) General Assembly Abstracts.</li>
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2022. Near real-time resistivity imaging from airborne electromagnetic data based on deep learning. In CGU (Chinese Geosciences Union) Annual Meeting Abstracts.</li>
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. 1-D inversion of airborne transient electromagnetic data based on convolutional neural network. In CGU Annual Meeting Abstracts.</li>   
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. Convolutional neural network inversion of airborne transient electromagnetic data. In CIGEW (China International Geo-Electromagnetic Workshop) Abstracts.</li>
<li><strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2020. De-noising of transient electromagnetic data based on the LSTM-autoencoder. In CGU Annual Meeting Abstracts.</li>
<li><strong>Wu, S.</strong> & Huang, Q., 2019. De-noising of transient electromagnetic data based on the LSTM- autoencoder. In CIGEW Abstracts.</li>

</ol>

</p> 
